@import "reset";

html {
  height: 600px;
  width: 785px;
}

body {
  height: 100%;
  width: 100%;

  >main {
    display: flex;
    height: 100%;

    >#dashboard,
    >.message {
      flex-basis: 100%;
      margin: auto;
    }

    >#dashboard {
      height: inherit;
    }

    >.message {
      font-family: "Helvetica", sans-serif;
      text-align: center;

      &--pulse {
        animation: pulse .8s linear infinite;
      }
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }
}