table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

th,
td {
  border: 1px solid #afafaf;
}

a,
caption {
  margin-bottom: .5em;
}

a {
  display: block;
}

caption {
  text-align: left;
}